@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

.hidden {
    color: transparent;
}

body {
    color: rgb(255, 0, 0)989;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    background-image: url("../img/imgs/fondo-ajustes.jpg") !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ahorcado{
    width: 150px;
    height: 200px;
}
.wordEdit{
    font-family: 'DynaPuff', cursive;
    font-size: 50px;
}

.subText{
    font-family: 'DynaPuff', cursive;
    font-size: 40px;
    color: red;
}
.title{
    text-align: center;
    position: relative;
    font-family: 'DynaPuff', cursive;
}
#wordContainer {
    margin-top: 20px;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    min-width: 12px;
}

#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #1adc13;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.medicimg {
    width: 220px;
    height: 250px;
    position: relative;
    text-align: center;
    top: -100px;
    left: 350px;

}