@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

/*Scroll-bar*/
::-webkit-scrollbar{
    width:1.5em;
    background:grey;
}

::-webkit-scrollbar-track{
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius:3em;
}
::-webkit-scrollbar-thumb{
    /*background-image:url(/Images/Facebook.svg);*/
    background-size: contain; 
    background-repeat:no-repeat;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:2em;
}

body{
    font-family: 'DynaPuff', cursive;
    background-image:url("/img/imgs/fondo-ajustes.jpg");
    height:100vh;
    background-size: cover;
    background-position: center;
}

a{
    border-radius: 10px;
}

.dropdown-menu {
    margin: 4rem auto;
  }
  
  .dropdown-item-danger {
    color: var(--bs-red);
  }
  .dropdown-item-danger:hover,
  .dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
  }
  .dropdown-item-danger.active {
    background-color: var(--bs-red);
  }
  
  .btn-hover-light {
    background-color: var(--bs-white);
  }
  .btn-hover-light:hover,
  .btn-hover-light:focus {
    color: var(--bs-blue);
    background-color: var(--bs-light);
  }
  
  .cal-month,
  .cal-days,
  .cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  .cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
  }
  .cal-weekday,
  .cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
  }
  .cal-btn:not([disabled]) {
    font-weight: 500;
  }
  .cal-btn:hover,
  .cal-btn:focus {
    background-color: rgba(0, 0, 0, .05);
  }
  .cal-btn[disabled] {
    border: 0;
    opacity: .5;
  }
  
  .form-control-dark {
    background-color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .15);
  }
  
  
  .w-220px {
    width: 220px;
  }
  
  .w-280px {
    width: 280px;
  }
  
  .w-340px {
    width: 340px;
  }
  
  .w-600px {
    width: 600px;
  }


  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }