#card-contenido{
  width: 300px !important; 
  height:500px !important;

 

}

/* Estilos generales para pantallas pequeñas responsoiveeeeeeeeeeeeeeeeeeeeeeee  cartass home*/

@media (max-width: 200px) {
  #card-contenido{
    width: 100px !important; 
    height:400px !important;
  }
}
@media (min-width: 201px) and (max-width: 349px) {
  #card-contenido {
    width: 200px !important; 
    height:400px !important;
  }
}
@media (min-width: 340px) and (max-width: 479px) {
  #card-contenido {
    width: 270px !important; 
    height:470px !important;
  }
}


/* Estilos para pantallas medianas */
@media (min-width: 480px) and (max-width: 992px) {
  #card-contenido {
    width: 300px !important; 
    height:500px !important;
  margin: auto;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 993px) {
  #card-contenido {
    width: 300px !important; 
    height:500px !important;
  }
}





.card1 {
  background-color: rgba(128, 128, 128, 0.2); /* Gris casi transparente */
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  animation: neon-border-animation 3s linear infinite;
  box-shadow: 0 0 20px rgba(255, 0, 0, 1); /* Comienza con un borde rojo más intenso */ 
    outline: none;
}
.cartvane{
  border-radius: 9%;
  border-top: 5px solid #491d88; /* Borde rojo en la parte superior */
  border-right: 5px solid #fec859; /* Borde verde a la derecha */
  border-bottom: 5px solid #331a38; /* Borde azul en la parte inferior */
  border-left: 5px solid #43b5a0;
} 
.card{
  background: linear-gradient(to bottom, #fffefb5b, #00bfff3a);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    text-align: center;
}



.circles {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%; 

}

.half-circle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0519f2;
  position: relative;
  
}.half-circle1 {
  border-top-color: #373ecd; /* Color del primer triángulo */
  border-left: 20px solid transparent;
  border-right: 80px solid transparent;
  border-top: 20px solid #373ecd;
}

.half-circle2 {
  border-top-color: #dc3cdc; /* Color del segundo triángulo */
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #dc3cdc;
}

.half-circle3 {
  border-top-color: #05f2b7; /* Color del tercer triángulo */
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #05f2b7;
}

/* Ajusta los estilos para que sean responsivos */
/* responsive 200px 574px pantalla */
@media (min-width:200px) and (max-width: 574px) {
  .half-circle1 {
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-top: 22px solid #373ecd
}
}
@media (min-width:200px) and (max-width: 574px) {
  .half-circle2 {
    border-left: 9px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #dc3cdc;
  }
}

@media (min-width:200px) and (max-width: 574px) {
  .half-circle3{
    border-left: 9px solid transparent;
    border-right: 20px solid transparent;
    border-top: 18px solid #05f2b7;
  }
}

/* responsive 575px 765px pantalla */

@media (min-width: 575px) and (max-width: 765px) {
  .half-circle1 {
    border-left: 1px solid transparent;
    border-right: 20px solid transparent;
    border-top: 17px solid #373ecd
}
}
@media (min-width: 575px) and (max-width: 765px) {
  .half-circle2 {
    border-left:  solid transparent;
    border-right: 13px solid transparent;
    border-top: 17px solid #dc3cdc;
  }
}

@media (min-width: 575px) and (max-width: 765px){
  .half-circle3{
    border-left: 1px solid transparent;
    border-right: 10px solid transparent;
    border-top: 17px solid #05f2b7;
  }
}

/* responsive 766px 991px pantalla */

@media (min-width: 766px) and (max-width: 991px) {
  .half-circle1 {
    border-left: 0px solid transparent;
    border-right: 35px solid transparent;
    border-top: 22px solid #373ecd
}
}

@media (min-width: 766px) and (max-width: 991px) {
  .half-circle2 {
    border-left: 6px solid transparent;
    border-right: 18px solid transparent;
    border-top: 20px solid #dc3cdc;
  }
}

@media (min-width: 766px) and (max-width: 991px){
  .half-circle3{
    border-left: 6px solid transparent;
    border-right: 15px solid transparent;
    border-top: 18px solid #05f2b7;
  }
}

/* responsive 992px 1198px pantalla */

@media (min-width:992px) and (max-width: 1198px) {
  .half-circle1 {
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-top: 22px solid #373ecd
}

}
@media (min-width:992px) and (max-width: 1198px) {
  .half-circle2 {
    border-left: 9px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #dc3cdc;
  }
}

@media (min-width:992x) and (max-width: 1198px) {
  .half-circle3{
    border-left: 9px solid transparent;
    border-right: 20px solid transparent;
    border-top: 18px solid #05f2b7;
  }
}

/* responsive 1199px 1399px pantalla */

@media (min-width:1199px) and (max-width: 1399px) {
  .half-circle1 {
    border-left: 20px solid transparent;
  border-right: 80px solid transparent;
  border-top: 20px solid #373ecd;
}

}
@media (min-width:1199px) and (max-width: 1399px) {
  .half-circle2 {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #dc3cdc;
  }
}

@media (min-width:1199px) and (max-width: 1399px) {
  .half-circle3{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #05f2b7;
  }
}

/* lineaaaaa de dos colores */

.line {
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: 0px;
  animation: moveLine 5s linear infinite;
  background: linear-gradient(to bottom, #4203ff, #01f8ecfd); 
  
}

/* ´movimiento linea de abajo de la carta juegos */
@keyframes moveLine {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

/* fondo luces de la carta juegos */

@keyframes neon-border-animation {
  0% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 1); /* Rojo más intenso */
  }
  33% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 1); /* Verde más intenso */
  }
  66% {
    box-shadow: 0 0 20px rgba(0, 0, 255, 1); /* Azul más intenso */
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 1); /* Vuelve a rojo más intenso */
  }
}
.col-sm-2 {
  position: relative;
  animation: mover-izquierda 6s linear infinite alternate, 
             mover-arriba 8s linear infinite alternate;
}

/* aniaccion imagenes de dos  */

.container1 {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container {
  position: absolute;
  cursor: pointer;
}

#movable-image {
  width: 100px;
  height: 100px;
  transition: transform 0.5s, opacity 0.5s;
}

#large-image {
  display: none;
  width: 300px;
  height: 300px;
}

/* carta principalll burbujas */

.burbuja{
   
  border-radius: 50%;
  background: #30c1ff;
  opacity: 0;
  position: absolute;
  bottom: 0;
  animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;

}
.burbuja:nth-child(2){
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
  
}
.burbuja:nth-child(3){
  width: 70px;
  height: 70px;
  left: 15%;
  animation-duration: 1.s;
  animation-delay: 7s;
  
}
.burbuja:nth-child(4){
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
  
}
.burbuja:nth-child(5){
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
  
}
.burbuja:nth-child(6){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
  
}
.burbuja:nth-child(7){
  width: 60px;
  height: 60px;
  left: 80%;
  animation-duration: 4s;
  animation-delay: 5s;
  
}
.burbuja:nth-child(8){
  width: 100px;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
  
}
.burbuja:nth-child(9){
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
  
}
.burbuja:nth-child(10){
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
  
}

@keyframes burbujas{
0%{
  bottom: 0;
  opacity:0;
}

50%{
     opacity: .4;
}

100%{
  bottom: 100vh;
  opacity: 0;
 }
}

@keyframes movimiento {
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);

  }
  
}

/* cartas de los juegos en si imagenes */

.cartita .cont{
  background:transparent !important;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
}

/* Muchas Gracias equipo les saluda vansss */

.smith {
  transform: translateX(19px);
  margin-top: 100px;
  position: relative;
  left: 30px;
  top: -120px;
}
.nuevos{
  position: relative !important;
  left: 90px;
}