/* Estilos para el footer */


  .navbar1 {
    background: rgb(155,64,167);
    background: linear-gradient(90deg, rgba(155,64,167,1) 0%, rgba(121,9,107,1) 32%, rgba(72,91,167,1) 64%, rgba(0,212,255,1) 80%, rgba(0,254,255,1) 100%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  
  .iamgenes{
    position: relative;
    top: 10px;

  }
  .iamgenes3 {
    position: relative;
    top: 10px;
    transition: transform 0.2s, opacity 0.2s; /* Agregamos transiciones para el destello y la rotación */
    animation: rotate 4s linear infinite, destello 0.5s infinite alternate; /* Agregamos una animación de rotación y un destello */
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); /* Rota 360 grados */
    }
  }
  
  @keyframes destello {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.5; /* Cambia la opacidad para el destello */
    }
  }
  
  .iamgenes3:hover {
    transform: scale(1.1);
    animation: none; /* Detenemos la animación al pasar el cursor */
  }
  

  .iamgenes2 {
    position: relative;
    top: 10px;
  }

