/* Estilos para el footer */


.logo {
    width: 100px;
    height: 100px;
    background-image: url('ruta-de-tu-imagen-del-helicóptero.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    animation: moverHelicoptero 35s linear infinite; /* Ajustar la duración y velocidad según sea necesario */
    z-index: 9999; /* Asegúrate de que este valor sea mayor que otros elementos */
  }
  
  @keyframes moverHelicoptero {
    0% {
      left: -100px;
    }
    100% {
      left: calc(100% + 100px);
    }
  }
  
  .navbar-brand {
    position: relative;
    top: -110px;
    left: -70px;
    z-index: 1; /* Asegúrate de que este valor sea menor que el de .logo */
  }
  
  .logoimagen{
    position: relative;
    right: 300px;
  }
  