.rounded-circle
{
    display: flex;
    align-items: center;
    background:#050808 !important;
}


#iconsvg
{
    top:10;
    right:0;
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 18px 16px;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .d-flex{
    position: relative;
    right: 300px;
  }
  
  .input::placeholder {
    color: transparent;
  }
  
  .input:focus::placeholder {
    color: rgb(131, 128, 128);
  }
  
  .input:focus,.input:not(:placeholder-shown) {
    background-color: #fff;
    border: 1px solid rgb(98, 0, 255);
    width: 290px;
    cursor: none;
    padding: 18px 16px 18px 40px;
  }
  
  .icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 10px;
    z-index: -1;
    fill: rgb(98, 0, 255);
    border: 1px solid rgb(98, 0, 255);
  }
  
  .input:hover + .icon {
    transform: rotate(360deg);
    transition: .2s ease-in-out;
  }
  
  .input:focus + .icon,.input:not(:placeholder-shown) + .icon {
    z-index: 0;
    background-color: transparent;
    border: none;
  }
  
  /* Aumentar el ancho del navbar en un 20% */
.navbar {
  width: 117%;
  height: 90px;
  position: relative;
  right: 110px;
  background-color:#7a58bb !important;
  
}
.smith {
  position: relative; /* Asegúrate de que la posición sea relative o alguna otra adecuada */
  left: -94px;
  top: -65px;
  z-index: 9999; /* Un valor alto para asegurarte de que esté por encima de otros elementos */
}
.helicoptero {
  width: 100px;
  height: 100px;
  background-image: url('ruta-de-tu-imagen-del-helicoptero.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation: moverHelicoptero 15s linear infinite, ondaHelicoptero 2s ease-in-out infinite;
}

@keyframes moverHelicoptero {
  0% {
    left: -100px;
  }
  100% {
    left: calc(100% + 100px);
  }
}

@keyframes ondaHelicoptero {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.navbar-brand{
  position: relative;
  top: -110px;
  left: -70px;
}

