div#is-relative{
    max-width: 420px;
    position: relative;
  }

#icon{
    position: absolute;
    display: block;
    bottom: 1rem;
    right: 1rem;
    user-select: none;
    cursor: pointer;
 }