#img{
  width: 270px !important;
  height: 250px !important;
}

#img-content{
  width: 270px !important;
  height: 250px !important;
}

#fm-video{
  width: 250px !important;
  height: 250px !important;
}