.subir{
    padding: 5px 10px !important;
    background: #5678EF !important;
    color:#fff !important; 
    border:0px solid #fff !important;
    border-radius: 10px;
    width: 50%;
    cursor: pointer !important;
}
 
.subir:hover{
    color:#fff;
    background: #f7cb15;
}