@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/img/imgs/a.jpg");
    background-size: cover;
    max-height: 100vh;
    overflow-y: auto;
    font-family: 'DynaPuff', cursive;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerP {
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Cambiado a dos columnas para que tengan el mismo tamaño */
}

/* Resto de tu CSS aquí */


/*
=========================================
SLIDER
=========================================
*/

.slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.slide {
    flex: 0 0 100%;
    text-align: center;
    position: relative;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.slider-controls {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.slider-controls a {
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.slide-indicators {
    position: absolute;
    top: 75%;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.slide-indicator {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.slide-indicator.active {
    background-color: #ff1212;
}

/*
============================================
TERMINA SLIDER
============================================
*/

/*
============================================
FORMULARIO
============================================
*/

.div-formulario {
    background-image: url(/img/imgs/fondoR.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 150px auto;
}

/* Consulta de medios para pantallas pequeñas (celulares) */
@media only screen and (max-width: 767px) {
    .slider-container {
        display: none; /* Oculta el carrusel en pantallas pequeñas */
    }

    .formulario {
        margin-top: 50px; /* Ajusta el margen superior del formulario */
    }
}

h1 {
    font-size: 3em;
    background-image: linear-gradient(45deg, #ff0000, #320C3B);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.144);
    margin-bottom: 20px;
}

.check-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.input-group input {
    width: 100%;
    height: 100%;
    background: none;
    color: #000000;
    padding-top: 20px;
    border: none;
    outline: 0px;
    font-size: 18px;
}

.input-group .lbl {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-bottom: 3px solid #05958C;
}

.input-group .lbl::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #600c73;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.text {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #F87D06;
    font-size: 16px;
}

.input-group input:focus + .lbl .text,
.input-group input:valid + .lbl .text {
    transform: translateY(-100%);
    font-size: 14px;
    color: #CA133F;
}

.input-group input:focus + .lbl::after,
.input-group input:valid + .lbl::after {
    transform: translateX(0%);
}

.check-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.check-group label {
    color: #F87D06;
    position: relative;
    padding-left: 23px;
}

.check-group label::before {
    content: ' ';
    border: solid 1px #6b6a6a;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    left: -5px;
    position: absolute;
    transition: all 0.2s;
    transform: rotate(0deg);
    margin-left: 10px;
}

.check-group input {
    display: none;
}

.check-group input:checked + label {
    color: #ff0000;
}

.check-group input:checked + label:before {
    border-color: #ff0000;
    color: #ff0000;
    content: '\f00c';
    font-family: FontAwesome;
    transform: rotate(360deg);
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #320C3B;
    background-size: 400%;
    color: #fff;
    border: none;
    font-family: 'DynaPuff', cursive;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg, #ff0000 10.8%, #320C3B 84.3%);
    transition: all 0.475s;
}

/*
=============================================
TERMINA FORMULARIO
=============================================
*/

/*
=============================================
ESTILOS FLECHA
=============================================
*/

.flecha {
    position: relative;
    animation: bounce 2s infinite;
    margin: 0 auto;
}

.flecha-punta {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid #F87D06;
    margin-left: -30px;
}

.flecha-cuerpo {
    width: 30px;
    height: 14px;
    background-color: #F87D06;
    position: absolute;
    top: 8px;
    left: -1px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}

/*
=============================================
TERMINA ESTILOS FLECHA
=============================================
*/

/*
==================================
ESTILOS FLECHA 2
==================================
*/

.flecha2 {
    width: 180px;
    height: 40px;
    position: relative;
    animation: bounce2 2s infinite;
    margin: 0 auto;
}

.flecha-cuerpo2 {
    width: 30px;
    height: 14px;
    background-color: #F87D06;
    position: absolute;
    top: 8px;
    left: 110px;
    z-index: 1;
}

.flecha-punta2 {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid #F87D06;
    margin-left: 140px;
    z-index: 2;
}

@keyframes bounce2 {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
}

/*
=============================================
TERMINA ESTILOS FLECHA 2
=============================================
*/
