/*
id == #
class == .
*/
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

:root{
    --colorTextoPlaceholder:rgb(255, 123, 0);
}

/*Placeholder*/
::placeholder{
    color:var(--colorTextoPlaceholder);
}


/*Inicio Index*/


.body-index{
    margin: 0%;
    padding:0;
    font-family: 'DynaPuff', cursive;
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.div-padre{

    display: flex;
    position: fixed;
    width: 100%;
    background-color:rgb(255, 146, 4);
    border-radius:10px;
    animation-name:animacionDivTitle;
    animation-duration:2s;
    height:5em;
    top: 0;
    
}

@keyframes animacionDivTitle {

    0%{
        top:-10px;
    }
    25%{ 
        top:0px;
    }
    50%{ 
        top:0px;
    }
    100%{
        top:0px;
    }

}



#Title-index
{

    color:rgb(89, 255, 47);
    font-size:1.7em;
    text-shadow: 3px 5px 5px black;
    text-align:center;

}

/* .inner
{
     overflow:hidden; 
}

.inner img 
{
    transition: all 1.5s ease;
}

.inner:hover img 
{
    transform: scale(1.5);
} */



.add-content
{

    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display:flex;
    position:relative;
    top:0;
    right:0;

}

#circulo{

    height:5em;
    width:5em;
    background:#3b3a3b;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display:flex;
    position:absolute;
    top:0;
    right:0;
    cursor: pointer;
    
}

@media screen and (min-width:500px){
    .div-padre{
        width: 100%;
        height: 5em;
    }
    #Title-index{
        font-size:2em;
    }

}



/*Invento con Youtube*/

.gallery{
    
    width: 90%;
    padding: 7% 0;
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    border-radius: 10px;
    margin-top:5em;
    
}

@media (min-width: 700px) { 

    .col mb-4{
        margin-top:200px;
    }

}

.gallery_contenido{

    background: white;
    color:blue;
    border-radius: 10px;
    width: 280px;
    padding: 13px;
   
}

#iframe-video-image
{
    border-radius: 10px;
    height: 250px;
    width: 250px;
}


/* Style the navigation menu */
.navbar1 {
    width: 100%;
    background-color: #555;
    bottom: 0;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    display:flex;
    justify-content:center;
    border-radius:20px;
    animation-name: animacionIndex;
    animation-duration: 2s;
    
  }

  @keyframes animacionIndex {
    0%{
        bottom:-10px;
    }
    
    25%{ 
        bottom:0px;   
    }
    50%{
        bottom:0px;      
    }
    100%{ 
        bottom:0px;   
    }

    
}



.hijos-navbar{
   
    margin:0px auto;
    
}

  
  /* Navigation links */
  .navbar1 img {
    float:left;
    display: block;
    text-align: center; /* If you want the text to be centered */
    padding:2%;
    border-radius:10px;
    width: 50px;
    cursor: pointer;
    
  }
  
  /* Add a background color on mouse-over */
  .navbar1 img:hover {
    background-color: rgb(28, 230, 55);
  }
  
  /* Style the current/active link */
  .navbar1 img.active {
    background-color: #11ffa8;
  }
  

  
  


/*Parte de videos e imagenes*/






/*Scroll-bar*/
::-webkit-scrollbar{
    width:1.5em;
    background:grey;
}

::-webkit-scrollbar-track{
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius:3em;
}
::-webkit-scrollbar-thumb{
    /*background-image:url(/Images/Facebook.svg);*/
    background-size: contain; 
    background-repeat:no-repeat;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:2em;
}


/*FIN INDEX*/


/*INICIO RECUPERAR CONTRASEÑA*/

.body_recuperar_contrasena{

    background-color:red;
    font-family: 'DynaPuff', cursive;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ff55, #ce7f19, #c0c315);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00ff55, #ce7f19, #c0c315); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 600px;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    

}

#correo_Recuperar_contrasena{
    color:var(--colorTextoPlaceholder);
}

#btn_recibirCodigo{

    font-family: 'DynaPuff', cursive;
    border-radius: 10px;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ff55, #ce7f19, #c0c315);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00ff55, #ce7f19, #c0c315); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;

}


.form_recuperar_contrasena{

    width:100%;
    margin:auto;
    position:relative;
    animation-name:mianimacion;
    animation-duration:3s;
    

}

#btn_regresarALogin{

    font-family: 'DynaPuff', cursive;
    border-radius: 10px;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ff55, #ce7f19, #c0c315);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00ff55, #ce7f19, #c0c315); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;

}

/*FIN RECUPERAR CONTRASEÑA*/

/*INICIO RETOS*/

.container-padre{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top:5em;

}

.container-trivias{

    width: 50%;

}

#title-trivia{
    user-select:none;
}

#btn-create-trivia{

    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(216, 203, 28);
    color: aliceblue;
    font-size:20px;
    cursor: pointer;
    

}

.container-adivinar{

    width: 50%;

}

#title-adivinar{
    user-select: none;
}

#btn-create-adivinanza{

    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(17, 171, 243);
    color: aliceblue;
    font-size:20px;
    cursor: pointer;
}

.container-padre button:hover {

    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    
}

/*FIN RETOS*/

/*INICIO AJUSTES*/

.perfil{
position: relative;

right: 480px;
top: 260px;


}


.img1{
position: relative;
top: -500px;
right: 200px;

}
.img2{
    position: relative;
    top: -500px;
    left: 500px;
    
    }
.body-ajustes{
    font-family: 'DynaPuff', cursive;
    margin: 0 ;
    padding: 0;
    background-color: #77e814;
    position: relative;
    justify-content:center;
    align-items: center;
    text-align: center;

}

.container-perfil-padre
{
    
    padding:100px;

}

.container-perfil-hijo
{
    margin:3em;
}

#enlace{


    position: relative;

    top: -1110px;
    font-size:2em;
    text-decoration: none;
    border-radius:10px;
    cursor: pointer;
    border:black;
    color: #3a01f6;

    

}

.version{
    position: absolute;
    top: 650px;
    left: 1035px;


}
.sesion{

position: absolute;
top: 610px;
left: 990px;


}
.ayuda{

position: relative;

left: 850px;


}
.desactivar{

position: relative;
top: -1071px;
left: 120px;


}

#enlace-btn{
    position: relative;
    top: -11500;

    color: #3a01f6;
    font-size:2em;
  
}

#version-app
{
    color: #3a01f6;
    font-size: 1.1em;
}

#enlace:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; 
}

#enlace-btn:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; 
}

/*FIN AJUSTES*/

/*INICIO PERFIL*/

.body-perfil{
   
    margin: 0 auto;
    padding: 0;
    font-family: 'DynaPuff', cursive;
    background-image:url("/img/imgs/a.jpg");
    height:100vh;
    background-size: cover;
    background-position: center;
    margin-left: 3em;
    margin-right: 3em;


}

#a-regresar-perfil
{
    font-size:1.5em;
    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(216, 203, 28);
    color: aliceblue;
    cursor: pointer;
    color: #3a01f6;
    background:linear-gradient(to right, #bdf71e, #26ff00, #bdf71e);
    
}

.form1{

    background:white;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius:10px;
    width:100%;
    margin:auto;
    position:relative;
    animation-name:mianimacion;
    animation-duration:3s;
    

}

.container-padre1{
    margin-top: -3em;
    margin: 0 auto;
    position: relative;
    right: 480px;
    top: 260px;
    
    
    }
    
    
    .img1{
    position: relative;
    top: -500px;
    right: 200px;
    
    }
    .img2{
        position: relative;
        top: -500px;
        left: 500px;
    
        }
    .body-ajustes{
        font-family: 'DynaPuff', cursive;
        margin: 0 ;
        padding: 0;
        background-color: #77e814;
        position: relative;
        justify-content:center;
        align-items: center;
        text-align: center;
    }
#enlace{
        position: relative;
        top: -1110px;
        font-size:2em;
        text-decoration: none;
        border-radius:10px;
        cursor: pointer;
        border:black;
        color: #3a01f6;
} 
.version{
    position: absolute;
    top: 650px;
    left: 1035px;
 }
.sesion{
    position: absolute;
    top: 610px;
    left: 990px; 
}
    .ayuda{
    
    position: relative;
    
    left: 850px;
    
    
    }
    .desactivar{
    
    position: relative;
    top: -1071px;
    left: 120px;
    
    
    }
    
    #enlace-btn{
        position: relative;
        top: -11500;
    
        color: #3a01f6;
        font-size:2em;
    
    }

/*FIN AJUSTES*/