.video-tagg {
	border-radius: 10px !important;
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}

.video-tagg .vjs-control-bar {
	background: #F4F4F4;
	color: #a0a8ae;
}

.video-tagg .vjs-play-progress,
.video-tagg .vjs-volume-level {
	background: #F4F4F4 !important;
}

.video-tagg .vjs-slider {
	background: #F4F4F4 !important;
}

.video-tagg:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2) !important;
}

.video-tagg .vjs-big-play-button {
	background: rgba(0,0,0,.2) !important;
	width: 80px !important;
	height: 80px !important;
	line-height: 80px !important;
	border-radius: 100% !important;
	border:none !important;
}

.video-tagg .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
}