body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:url("../img/imgs/fondo-ajustes.jpg") !important;
    border-radius: 30px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px !important;
}

.table {
    width: 100%;
    border: 1px solid #4956d1;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
}

.table caption {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 30px;

}

.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
    border-radius: 20px;

}

.table thead th{ 
    text-transform: uppercase;
    background-color: #ddd;
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
    .table {
        border: 10px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}
